body {
  background: #001f3f;
  animation: rainbow 100s linear infinite;
  -webkit-animation: rainbow 100s linear infinite;
}

@keyframes rainbow {
  0% {
    background-color: #0074d9;
  }
  25% {
    background-color: #3a4863;
  }
  /*40% { background-color: #2ECC40; }*/
  50% {
    background-color: #0074d9;
  }
  75% {
    background-color: #163163;
  }
  100% {
    background-color: #001f3f;
  }
}

@-webkit-keyframes rainbow {
  0% {
    background-color: #0074d9;
  }
  25% {
    background-color: #3a4863;
  }
  /*40% { background-color: #2ECC40; }*/
  50% {
    background-color: #0074d9;
  }
  75% {
    background-color: #163163;
  }
  100% {
    background-color: #001f3f;
  }
}
