<!DOCTYPE html>
<html ng-app="rose">

<head>
	
	<title>ROSE</title>
	
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="lib/firebase.js"></script>
	<script type="text/javascript" src="lib/angularfire.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

	<link rel="stylesheet" type="text/css" href="style.css">

</head>


<body ng-controller="mainCtrl">

	<div style="margin-top: 10px; padding: 10px; border: 1px solid black;">
		<h1>SENSOR</h1>
		<h2 ng-show="firebaseData.sensor.state">State: ON</h2>
		<h2 ng-show="!firebaseData.sensor.state">State: OFF</h2>
		<h2>Sensor Value: {{ firebaseData.sensor.value }}</h2>

		<button ng-click="toggleSensor()">Toggle Sensor</button>
	</div>

	<div style="margin-top: 10px; padding: 10px; border: 1px solid black;">
		<h1>LED</h1>
		<h2 ng-show="firebaseData.led.state">State: ON</h2>
		<h2 ng-show="!firebaseData.led.state">State: OFF</h2>

		<button ng-click="toggleLed()">Toggle LED</button>
	</div>

	<div style="margin-top: 10px; padding: 10px; border: 1px solid black;">
		<h1>MOTOR</h1>
		<h2>State: {{ firebaseData.motor.action }}</h2>

		<button ng-click="controlMotor( 'forward' )">Forward</button>
		<button ng-click="controlMotor( 'reverse' )">Reverse</button>
		<button ng-click="controlMotor( 'stop' )">Stop</button>
	</div>

</body>


</html>