<!DOCTYPE html>
<html ng-app="rose">

<head>
	
	<title>ROSE</title>
	
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="lib/firebase.js"></script>
	<script type="text/javascript" src="lib/angularfire.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>


<body ng-controller="mainCtrl">

	<div class="jumbotron">
		<div class="container">
			<h1>CloudLab</h1>
			<p>Your remotely operated science lab in the cloud.</p>
		</div>
	</div>

	<div class="container">

		<div class="row">
			
			<div class="col-md-4">
				<h3 class="text-center">Light Intensity</h3>
				<table class="table table-bordered">
					<tr>
						<th>State</th>
						<th>Value</th>
					</tr>
					<tr>
						<td ng-show="firebaseData.sensor.state">ON</td>
						<td ng-show="!firebaseData.sensor.state">OFF</td>
						<td>{{ firebaseData.sensor.value }}</td>
					</tr>
				</table>
				<p class="text-center">
					<a class="btn btn-default" ng-click="toggleSensor()">Toggle Sensor</a>
				</p>
			</div>

			<div class="col-md-4">
				<h3 class="text-center">Light Source</h3>
				<table class="table table-bordered">
					<tr>
						<th>State</th>
					</tr>
					<tr>
						<td ng-show="firebaseData.led.state">ON</td>
						<td ng-show="!firebaseData.led.state">OFF</td>
					</tr>
				</table>
				<p class="text-center">
					<a class="btn btn-default" ng-click="toggleLed()">Toggle LED</a>
				</p>
			</div>

			<div class="col-md-4">
				<h3 class="text-center">Motion</h3>
				<table class="table table-bordered">
					<tr>
						<th>State</th>
					</tr>
					<tr>
						<td>{{ firebaseData.motor.action }}</td>
					</tr>
				</table>
				<p class="text-center">
					<a class="btn btn-default" ng-click="controlMotor( 'forward' )">Forward</a>
					<a class="btn btn-default" ng-click="controlMotor( 'reverse' )">Reverse</a>
					<a class="btn btn-default" ng-click="controlMotor( 'stop' )">Stop</a>
				</p>
			</div>

		</div>

	</div>

</body>


</html>