@font-face	{
	font-family: entypo;
	src: url('fonts/entypo-social.ttf');
}

#container	{
	text-align: center;
}

#name	{
	font-family: 'Abril Fatface', serif;
	font-size: 4em;
	margin-top: 10%;
}

#icon-container	{
	margin-top: -2%;
}

.icon	{
	font-family: entypo;
	font-size: 6em;
	margin-left:10px;
	margin-right: 10px;
}

.icon a {
	text-decoration: none;
	color: #000;
}

#github-icon a:hover	{
	color: #444;
}

#twitter-icon a:hover	{
	color: #4099FF;
}

#facebook-icon a:hover	{
	color: #3B5998;
}

#footer	{
	width: 100%;
	text-align: center;
	position: fixed;
	margin: 0 auto;
	bottom: 20px;
}

#footer a {
	font-family: Lato, sans-serif;
	font-size: 1.2em;
	text-decoration: none;
	color: #000;
	margin: 0px 10px 0px 10px;
}

#footer a:hover	{
	text-decoration: underline;
}