main {
	padding-top: 0;
}

header {
	transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
}

.logo-override {
	position: absolute;
	margin-top: -8px;
	padding-top: 25px;
}

.logo-image {
	height: 40px;
	display: inline-block;
	margin-right: 10px;
}

.logo-override h2 {
	display: inline;
	color: #48a7cf;
	line-height: 40px !important;
}

ul.nav.list-unstyled {
	padding-bottom: 16px;
}

header ul a {
	color: white !important;
}

header.scrolled {
	background: white;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

header.scrolled ul a {
	color: black !important;
}

#footer {
	padding-top: 0px !important;
}

.footer-bottom {
	border-top: none !important;
	margin-top: 21px !important;
	padding-top: 0px !important;
}

.section-0 {
	height: 100vh;
	min-height: 600px;
	background-image: url('../img/data-graph-finger.jpg');
	background-position-x: 60% !important;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 0px 2px #000;
}

.section-0 .background-container {
	height: 100%;
	width: 100%;
	background: rgba(0, 82, 140, 0.8);
	background: linear-gradient(left, rgba(40, 99, 123, 1), rgba(40, 99, 123, 0.9), rgba(40, 99, 123, 0.6), rgba(40, 99, 123, 0.2));
	background: -o-linear-gradient(left, rgba(40, 99, 123, 1), rgba(40, 99, 123, 0.9), rgba(40, 99, 123, 0.6), rgba(40, 99, 123, 0.2));
	background: -moz-linear-gradient(left, rgba(40, 99, 123, 1), rgba(40, 99, 123, 0.9), rgba(40, 99, 123, 0.6), rgba(40, 99, 123, 0.2));
	background: -webkit-linear-gradient(left, rgba(40, 99, 123, 1), rgba(40, 99, 123, 0.9), rgba(40, 99, 123, 0.6), rgba(40, 99, 123, 0.2));
}

.section-0 .feature-text-container {
	margin-top: 40vh;
}

.section-0 .feature-text-container .feature-text {
	display: none;
	font-weight: 300;
	color: white;
	text-shadow: 0px 0px 5px black, 0px 0px 25px black;
}

.section-0 .feature-text-container .feature-text.active {
	display: block;
}

.section-0 .btn-wrap {
	margin-top: 40px;
}

/*.section-0 .btn {
	background-color: rgba(255, 255, 255, 0.8);
}*/

.section-0 .btn-wrap .margin-left {
	margin-left: 10px;
}

.section-1 {
	padding-top: 50px !important;
}

.section-1 {
	transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	background-color: white;
	width: 110%;
	margin-top: -25px;
	margin-left: -20px;
	padding-top: 10px;
}

.section-1 .content-bg {
	height: 100%;
	width: 90%;
	transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	padding: 30px 0 0 50px;
}

.section-1 .content-container {
	margin: 0 auto 40px auto;
	padding: 0 90px;
}

.section-1 .content-container .feature-section-title {
	margin-top: 0px;
	margin-bottom: 30px;
}

.section-1 .content-container .feature-tile {
	padding: 10px 20px;
}

.section-1 .content-container .row {
	margin: 30px 0;
}

.section-1 .content-container svg {
	height: 100px;
}

.section-1 .content-container .icon-container {
	width: 100px;
	max-height: 100px;
	padding-left: 10px;
	padding-top: 10px;
	background-color: #EEE;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
}

.section-1 .content-container .feature-text {
	height: 100px;
	max-width: 80%;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 0px 0px 25px;
}

.section-1 .content-container .feature-text h3 {
	font-size: 19px;
	margin: 0px;
}

.section-1 .content-container .feature-text p {
	margin: 5px 0 0 0;
	font-size: 17px;
	line-height: 22px;
}

.section-2 {
	height: 500px;
	width: 105%;
	margin-left: -20px;
	overflow: hidden;
	background-image: url('../img/data-2.jpg');
	background-size: 60%;
	background-repeat: no-repeat;
	background-position-y: 100%;
	transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
}

.section-2 .content-bg {
	position: absolute;
	height: 130%;
	width: 60%;
	top: -85px;
    right: -50px;
    background-color: rgba(40, 99, 123, 1);
    transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}

.section-2 .content-container {
    margin-top: 28%;
    width: 70%;
    margin-left: 13%;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
}

.section-2 .content-container h2 {
	margin-bottom: 18px;
}

.section-3 {
	height: auto;
	margin-top: 10px !important;
}

.section-3 .feature-section-title {
	margin-top: 0px;
}

.section-3 .testimonial-container {
	height: 330px;
	border: 1px solid #EEE;
	background-image: url('../img/sherpas.png');
	background-position: right bottom;
	background-size: 40%;
	background-repeat: no-repeat;
	background-color: #f8f8f8;
	overflow: hidden;
	box-shadow: 0px 0px 3px #EEE;
	border-radius: 3px;
}

.section-3 .content-bg {
	height: 140%;
	width: 65%;
	transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	margin-top: -55px;
	margin-left: -50px;
	/*background-color: #28627b;
	color: white;*/
	background-color: #fff;
	color: #4d4d55;
}

.section-3 .content-container {
	transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	padding-top: 80px;
	padding-left: 100px;
	text-align: left;
}

.section-3 .content-container h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

.section-3 .content-container p {
	font-size: 19px;
	margin-bottom: 10px;
}

@media (max-width: 1380px) {
	.section-1 .content-container {
		padding: 0 50px;
	}
}

@media (max-width: 1280px) {
	.feature-tile {
		padding: 0px 10px !important;
	}

	.feature-text {
		padding-left: 15px !important;
	}

	section .icon-container {
		overflow: hidden;
		width: 60px !important;
		height: 60px !important;
		padding-top: 6px !important;
		padding-left: 6px !important;
	}

	section .icon-container svg {
		height: 60px !important;
	}

	.section-2 .content-bg {
		width: 70%;
	}
}

@media (max-width: 993px) {
	.section-1 .feature-tile h3 {
		font-size: 17px !important;
	}

	.section-1 .feature-tile p {
		font-size: 15px !important;
	}

	.section-2 .content-container {
		margin-top: 35%;
	}

	.section-3 {
		padding-top: 70px !important;
	}
}

@media (max-width: 835px) {
	.feature-tile {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.logo-override {
		padding-top: 5px !important;
		margin-top: 0px !important;
	}

	.section-1 .row {
		margin: 0px !important;
	}

	.feature-tile {
		text-align: left;
	}

	.section-2 {
		height: 400px;
	}
}

@media (max-width: 620px) {
	.section-2 {
		background-size: 70%;
	}

	.section-2 .content-bg {
		width: 80%;
	}
}

@media (max-width: 550px) {
	.section-2 {
		height: 300px;
		width: 110%;
		background-size: 100%;
	}

	.section-2 .content-bg {
		top: -50px;
	}

	.section-2 .content-container {
		padding-right: 30px;
		margin-top: 25%;
	}

	.section-2 .content-container h2 {
		font-size: 18px;
	}

	.section-2 .content-container p {
		font-size: 14px;
	}
}

@media (max-width: 500px) {
	.section-1 .content-container {
		padding: 0px !important;
	}
}

@media (max-width: 430px) {
	.section-1 .feature-tile {
		margin: 5px 0 !important;
	}
}