.logo-override {
	position: absolute;
	margin-top: -8px;
}

ul.nav.list-unstyled {
	padding-bottom: 16px;
}

#footer {
	padding-top: 0px !important;
}

.footer-bottom {
	border-top: none !important;
	margin-top: 21px !important;
	padding-top: 0px !important;
}