@font-face {
  font-family: 'Cylburn';
  src: url('fonts/Cylburn.otf') format('opentype'),
    url(fonts/Cylburn.ttf) format('truetype');
}

@font-face {
  font-family: 'Banthers';
  src: url('fonts/Banthers.otf') format('opentype'),
    url(fonts/Banthers.ttf) format('truetype');
}

@font-face {
  font-family: 'Monsieur-Pomme';
  src: url('fonts/Monsieur-Pomme.otf');
}

@font-face {
  font-family: 'Sortdecai';
  src: url('fonts/Sortdecai.ttf');
}

@font-face {
  font-family: 'Matilde';
  src: url('fonts/matilde.otf');
}

body {
  text-align: center;
  min-height: 1vh;
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  position: absolute;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-size: cover;
  z-index: -100;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 100%;
  background-color: #222;
  opacity: 0.9;
  box-shadow: 0px 0px 6px black;
}

.header.light {
  background-color: #DDD !important;
  opacity: 0.7 !important;
}

.header .logo {
  width: 100vw;
  height: 100%;
  text-align: center;
}

.header .logo h1 {
  font-family: 'Matilde', sans-serif;
  font-size: 70px;
  letter-spacing: 3px;
  font-weight: 100;
  margin-top: 10px;
  -webkit-margin-before: 0px;
  color: #EEE;
  text-shadow: 0px 0px 5px black, 0px 0px 10px black;
}

.header .logo.light h1 {
  color: #222 !important;
  font-weight: 600 !important;
  text-shadow: none !important;
}

.main-ad {
  height: auto;
  min-height: 100vh;
  padding: 10px;
  background-color: rgba(60, 60, 60, 0.1);
  padding: 12.5vh 6vw 20px;
}

.screens {
  height: 42vw;
}

.screens img {
  height: 108%;
  margin-top: -5%;
}

.features-cta {
  margin-top: 10px;
}

.features-cta .features {
  height: auto;
  padding: 15% 20px;
  background-color: rgba(20, 20, 20, 0.7);
  margin-bottom: 10px;
  border-radius: 5px;
}

.features-cta.light .features {
  background-color: rgba(200, 200, 200, 0.5) !important;
}

.features-cta .features h1 {
  font-weight: 100;
  color: #DDD;
  text-shadow: 0px 0px 5px black, 0px 0px 10px black;
}

.features-cta.light .features h1 {
  color: #333 !important;
  text-shadow: none !important;
  font-weight: 200 !important;
}

.features-cta .features p {
  margin-top: 5%;
  padding: 0 8%;
  color: #CCC;
  font-weight: 100;
  font-size: 25px;
  text-shadow: 0px 0px 4px black, 0px 0px 8px black;
}

.features-cta.light .features p {
  color: #333 !important;
  text-shadow: none !important;
  font-weight: 200 !important;
}

.features-cta .cta {
  height: auto;
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 5px;
}

.features-cta.light .cta {
  background-color: rgba(200, 200, 200, 0.5);
}

.features-cta .cta img {
  width: 40%;
  margin: 4% 2.5%;
  border-radius: 12px;
  box-shadow: 0px 0px 4px #999, 0px 0px 8px black;
}